{% extends 'myApp/base.html' %}

{% block myhdg %}
    Hello {{ request.user.first_name }}
{% endblock %}


{% block body_block %}
    <body>
        {% if top_list %}
            <h2>List of Topics</h2>
            <ol>
                {% for top in top_list %}
                    <li>
                        <a href="{% url "myApp:detail" top.id %}">
                            {{ top.name}}
                        </a>
                    </li>
                {% endfor %}
            </ol>
        {% else %}
            <strong>There are no available topics!</strong>
        {% endif %}
        <h3> {{ msg }}</h3>
    </body>
{% endblock %}